<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<section layout:fragment="navigation">
    <input type="button" th:onclick="window.location.href='/user/list'" th:value="#{action.back}" >
</section>


<section layout:fragment="content">

    <form  action="#" th:action="@{/user}" th:object="${user}" method="post" >

        <input type="hidden" th:field="*{id}">

        <table class="blueTable">
            <thead>
            <tr>
                <th colspan="2" th:text="#{user.form.title}"></th>
            </tr>
            </thead>


            <tr><td th:text="#{user.angajat}"></td><td><select  th:field="*{angajat}">
                <option th:each="s : ${user.angajatList}" th:value="${s.value}" th:text="${s.text}"></option>
            </select></td></tr>
            <tr><td th:text="#{user.rol}"></td><td><select  th:field="*{rol}">
                <option th:each="s : ${user.rolList}" th:value="${s.value}" th:text="${s.text}"></option>
            </select></td></tr>
            <tr><td th:text="#{user.unitate}"></td><td><select  th:field="*{unitate}">
                <option th:each="s : ${user.unitateList}" th:value="${s.value}" th:text="${s.text}"></option>
            </select></td></tr>

            <tr>
                <td><input type="submit" value="Salveaza"/></td>
                <td><input type="reset" value="Reset"></td>
            </tr>
        </table>

    </form>


</section>

</html>