<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<section layout:fragment="navigation">
    <input type="button" th:onclick="window.location.href='/'" th:value="#{action.back}" />
    <input type="button" th:onclick="window.location.href='/adresa'" th:value="#{action.add}" />
</section>


<section layout:fragment="content">

<table class="blueTable">
    <thead>
        <tr><th th:text="#{adresaList.title}" colspan="13"></th></tr>
    </thead>
    <tr>
        <th>.</th>
        <th>Tip strada</th>
        <th th:text="#{strada}"></th>
        <th>Numar</th>
        <th>Bloc</th>
        <th>Scara</th>
        <th>Etaj</th>
        <th>Apartament</th>
        <th>Localitate</th>
        <th>Sublocalitate</th>
        <th>Judet</th>
        <th>Cod postal</th>
        <th>Tara</th>
    </tr>
    <tr th:each="row : ${adresa.adresaList}">
        <td><a th:href="@{|/adresa/${row.id}|}">Edit</a></td>
        <td th:text="${row.tipStrada}" ></td>
        <td th:text="${row.strada}" ></td>
        <td th:text="${row.numar}" ></td>
        <td th:text="${row.bloc}" ></td>
        <td th:text="${row.scara}" ></td>
        <td th:text="${row.etaj}" ></td>
        <td th:text="${row.apartament}" ></td>
        <td th:text="${row.localitate}" ></td>
        <td th:text="${row.sublocalitate}" ></td>
        <td th:text="${row.judet}" ></td>
        <td th:text="${row.codPostal}" ></td>
        <td th:text="${row.tara}" ></td>
    </tr>
</table>


</section>

</html>