<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<tr th:fragment="title">
    <td colspan="2" th:text="#{adresa}"></td>
</tr>

<tr th:fragment="structuraTypeCombo">
    <td th:text="#{structuraType}"></td>
    <td>
        <select   id="structTypeId">
            <option th:each="s : ${structuraTypeList}" th:value="${s.value}" th:text="${s.text}"></option>
        </select>
    </td>
</tr>


<tr th:fragment="taraCombo">
    <td th:text="#{home.tara}"></td>
    <td>
        <select  id="taraId">
            <option th:each="s : ${taraList}" th:value="${s.value}" th:text="${s.text}"></option>
        </select>
    </td>
</tr>


</html>

th:field="${polite.stareMatric}"