<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<table th:fragment="table(list)" class="blueTable">
    <thead>
        <tr><th th:text="#{imobilList}" colspan="11"></th></tr>
    </thead>

    <tr>
        <th>.</th>
        <th th:text="#{imobil.constructie}"></th>
        <th>Mediu</th>
        <th>Tip structura</th>
        <th>Numar camere</th>
        <th>Suprafata</th>
        <th>An constructie</th>
        <th>Numar etaje</th>
        <th>Numar cladiri</th>
        <th>Vecinatate</th>
        <th>Mentiuni</th>
    </tr>
    <tr th:each="row : ${list}">
        <td ><a th:href="@{|/imobil/${row.id}|}">Edit</a></td>
        <td th:text="${row.constructie}" ></td>
        <td th:text="${row.mediu}" ></td>
        <td th:text="${row.structuraType}" ></td>
        <td th:text="${row.nrCamere}" ></td>
        <td th:text="${row.suprafata}" ></td>
        <td th:text="${row.anConstructie}" ></td>
        <td th:text="${row.nrEtaje}" ></td>
        <td th:text="${row.nrCladiri}" ></td>
        <td th:text="${row.vecinatate}" ></td>
        <td th:text="${row.mentiuni}" ></td>
    </tr>

</table>

</html>