<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">



<table th:fragment="adresa" >
    <tr th:insert="~{form::title}"></tr>

    <tr th:each="field : ${fields}"
         th:include="~{form::inputDynamic(${field})}" >
    </tr>

    <!--tr th:insert="~{form::comboField(key='structuraType',field='structuraType',list=${structureTypeList})}"></tr>
    <tr th:insert="~{form::comboField(key='tara',field='tara',list=${taraList})}"></tr>
    <tr th:insert="~{form::comboField(key='judet',field='judet',list=${judetList})}"></tr>

    <div th:replace="~{form::inputField(field='localitate', value='Pitesti', size='50')}"></div>
    <div th:replace="~{form::inputField(field='sublocalitate', value='Vedea', size='50')}"></div>

    <tr th:insert="~{form::comboField(key='tipStrada',field='tipStrada',list=null)}"></tr>

    <div th:replace="~{form::inputField(field='strada', value='2', size='20')}"></div>
    <div th:replace="~{form::inputField(field='numar', value='2', size='20')}"></div>


    <div th:replace="~{form::inputFieldDynamic(f=${field})}"></div>
    <div th:replace="~{form::inputField(field='scara', value='2', size='20')}"></div>
    <div th:replace="~{form::inputField(field='etaj', value='8', size='20')}"></div>

    <div th:replace="~{form::inputField(field='apartament', value='13', size='20')}"></div>
    <div th:replace="~{form::inputField(field='codPostal', value='51234', size='20')}"></div-->
</table>
</form>

</html>
