<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- ===================================================================================== -->

<tr th:fragment="title">
    <th colspan="2" th:text="#{adresa}"></th>
</tr>

<!-- ===================================================================================== -->
<span th:fragment="comboField(key,field,list)">
    <td th:text="#{${key}}"></td>
    <td>
        <select  th:id="${field}">
            <option th:each="s : ${list}" th:value="${s.value}" th:text="${s.text}"></option>
        </select>
    </td>
</span>

<span th:fragment="comboFieldDynamic(field)">
    <td th:text="#{${field.key}}"></td>
    <td>
        <select  th:id="${field.id}">
            <option th:each="s : ${field.list}" th:value="${s.value}" th:text="${s.text}"></option>
        </select>
    </td>
</span>

<!-- ===================================================================================== -->

<tr th:fragment="inputDynamic(field)">
    <td th:text="#{${field.nameKey}}"></td>

    <td th:switch="${field.type}">
        <select th:case="${T(ro.x13.asig.view.model.FieldType).LIST}" th:id="${field.name}">
            <option th:each="s : ${field.list}" th:value="${s.value}" th:text="${s.text}"></option>
        </select>
        <input th:case="${T(ro.x13.asig.view.model.FieldType).TEXT}"
                type="text" th:id="${field.name}" th:name="${field.name}" th:value="${field.value}" th:size="${field.size}" />
    </td>
</tr>

<span th:fragment="field(f)">
    <td th:text="#{${f.nameKey}}"></td>

    <td th:switch="${f.class}">
        <select th:case="${T(ro.x13.asig.view.model.ComboView)}"
                th:field="*{__${f.name + '.value'}__}" th:class="${f.clasa}">
            <option th:each="s : ${f.list}" th:value="${s.value}" th:text="${s.text}"></option>
        </select>
        <input th:case="${T(ro.x13.asig.view.model.StringFieldView)}"
               type="text" th:field="*{__${f.name + '.value'}__}" th:size="${f.size}" />
        <input th:case="${T(ro.x13.asig.view.model.IntegerFieldView)}"
               type="text" th:field="*{__${f.name + '.value'}__}" th:size="${f.size}" />
        <!--input th:case="${T(ro.x13.asig.view.model.FieldType).HIDDEN}"
               type="hidden" th:field="*{__${f.name}__}"  /-->
    </td>
</span>

<!-- ===================================================================================== -->

<tr th:fragment="inputFieldDynamic(f)">
    <td th:text="#{${f.key}}"></td>
    <td>
        <input type="text" th:id="${f.id}" th:name="${f.id}" th:value="${f.value}" th:size="${f.size}" />
    </td>
</tr>

<tr th:fragment="inputField(field,value,size)">
    <td th:text="#{${field}}"></td>
    <td>
        <input type="text" th:id="${field}" th:name="${field}" th:value="${value}" th:size="${size}" />
    </td>
</tr>

<!-- ===================================================================================== -->
<span th:fragment="combo(field,list)">
        <select  th:field="*{__${field}__}">
            <option th:each="s : ${list}" th:value="${s.value}" th:text="${s.text}"></option>
        </select>
</span>


<!-- ===================================================================================== -->
<table th:fragment="listTable(bean)" class="blueTable">
    <thead>
    <tr><th th:text="#{${bean.list.titleKey}}" th:colspan="${bean.list.colspan}"></th></tr>
    </thead>
    <tr>
        <th th:each="h: ${bean.list.columns}" th:if="${h.header}" th:text="#{${h.header}}"></th>
    </tr>
    <tr th:each="row : ${bean.dataList}">
        <td th:each="h: ${bean.list.columns}" th:if="${h.link||h.data}" >
            <a th:if="${h.link}" th:href="@{|${h.action}/${row.id}|}"  th:text="#{${h.key}}"></a>
            <span th:if="${h.data}" >[[${row.__${h.key}__}]]</span>
        </td>
    </tr>
</table>


<form  th:fragment="formTable(bean)" action="#" th:action="@{${bean.form.action}}" th:object="${__${bean.modelName}__}" method="post" >
    <input type="hidden" th:field="*{id}"><!-- /* ATENTIE */ -->
    <table class="blueTable">
        <thead>
        <tr>
            <th colspan="2" th:text="#{${bean.form.titleKey}}"></th>
        </tr>
        </thead>
        <tr th:each="f: ${bean.formFields}">
            <div th:replace="form.html :: field(f=${f})"></div>
        </tr>
        <tr th:if="${bean.form.pagination}">
            <td colspan="2">
                <input type="button" value="&lt;" onclick="pagePrev();"/>
                <input type="text" th:field="*{page}" maxlength="3" size="3" />
                <input type="button" value="&gt;" onclick="pageNext();"/>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" th:value="#{${bean.form.submitKey}}"/></td>
        </tr>
    </table>
</form>

<table th:fragment="menu(bean)" class="blueTable">
    <thead>
    <tr><th th:text="#{menuList.title}" colspan="13"></th></tr><!-- TODO si sta sa fie generat de menu -->
    </thead>

    <tr th:each="m : ${bean}">
        <td><a th:href="@{${m.value}}" th:text="${m.text}" ></a></td>
    </tr>
</table>


</html>

