<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">



    <table th:fragment="tableList(bean)" class="blueTable">
        <thead>
        <tr><th th:text="#{${bean.titleKey}}" th:colspan="${1 + bean.headers.length}"></th></tr>
        </thead>
        <tr>
            <th>.</th>
            <th th:each="h: ${bean.headers}" th:text="#{${bean.baseKey + '.' + h}}"></th>
        </tr>
        <tr th:each="row : ${bean.list}">
            <td><a th:href="@{|${bean.editAction}/${row.id}|}" th:text="#{action.edit}"></a></td>
            <td th:each="h: ${bean.headers}" th:text="${row.__${h}__}" ></td>
        </tr>
    </table>


</html>