<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<span id="formAsig" th:fragment="form(asig)" >
    <form  action="#" th:action="@{/asig}" th:object="${asig}" method="post" >

        <input type="hidden" th:field="*{id}">

        <table class="blueTable">
            <thead>
            <tr>
                <th colspan="2" th:text="#{asigForm.title}"></th>
            </tr>
            </thead>

            <tr><td>CIF </td><td><input type="text" th:field="*{cif}"></td></tr>
            <tr><td>Nume </td><td><input type="text" th:field="*{nume}"></td></tr>
            <tr><td>Adresa </td><td><input type="text" th:field="*{adresa}"></td></tr>
            <tr><td>Registrul comertului </td><td><input type="text" th:field="*{regCom}"></td></tr>

            <tr><td>Telefon </td><td><input type="text" th:field="*{telefon}"></td></tr>
            <tr><td>Fax </td><td><input type="text" th:field="*{fax}"></td></tr>

            <tr>
                <td><input type="submit" value="Salveaza"/></td>
                <td><input type="reset" value="Reset"></td>
            </tr>
        </table>

    </form>
</span>

</html>