<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<section layout:fragment="navigation">
    <input type="button" th:onclick="window.location.href='/'" th:value="#{action.back}" />
    <input type="button" th:onclick="window.location.href='/asig'" th:value="#{action.add}" />
</section>

<section layout:fragment="content">

<table class="blueTable">
    <thead>
        <tr><th th:text="#{asig.list.title}" colspan="9"></th></tr>
    </thead>

    <tr>
        <th>.</th>
        <th th:text="#{asig.cif}"></th>
        <th th:text="#{asig.nume}"></th>
        <th th:text="#{asig.tip}"></th>
        <th th:text="#{asig.juridic}"></th>
        <th th:text="#{asig.adresa}"></th>
        <th th:text="#{asig.regCom}"></th>
        <th th:text="#{asig.telefon}"></th>
        <th th:text="#{asig.fax}"></th>
    </tr>
    <tr th:each="row : ${asig.asigList}">
        <td><a th:href="@{|/asig/${row.id}#formAsig|}" th:text="#{action.edit}"></a></td>
        <td th:text="${row.cif}" ></td>
        <td th:text="${row.nume}" ></td>
        <td th:text="${row.tip}" ></td>
        <td th:text="${row.juridic}" ></td>
        <td th:text="${row.adresa}" ></td>
        <td th:text="${row.regCom}" ></td>

        <td th:text="${row.telefon}" ></td>
        <td th:text="${row.fax}" ></td>
    </tr>

</table>

</section>

</html>