<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<table th:fragment="table(list)" class="blueTable">
    <thead>
        <tr><th th:text="#{asigList.title}" colspan="7"></th></tr>
    </thead>

    <tr>
        <th>.</th>
        <th th:text="#{asigList.cif}"></th>
        <th th:text="#{asigList.nume}"></th>
        <th th:text="#{asigList.adresa}"></th>
        <th th:text="#{asigList.regCom}"></th>
        <th th:text="#{asigList.telefon}"></th>
        <th th:text="#{asigList.fax}"></th>
    </tr>
    <tr th:each="row : ${list}">
        <td><a th:href="@{|/asig/${row.id}#formAsig|}">Edit</a></td>
        <td th:text="${row.cif}" ></td>
        <td th:text="${row.nume}" ></td>
        <td th:text="${row.adresa}" ></td>
        <td th:text="${row.regCom}" ></td>

        <td th:text="${row.telefon}" ></td>
        <td th:text="${row.fax}" ></td>

    </tr>

</table>

</html>