<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<section layout:fragment="navigation">
    <input type="button" th:onclick="window.location.href='/asig/list'" th:value="#{action.back}" >
</section>


<section layout:fragment="content">

    <form  action="#" th:action="@{/asig}" th:object="${asig}" method="post" >

        <input type="hidden" th:field="*{id}">

        <table class="blueTable">
            <thead>
            <tr>
                <th colspan="2" th:text="#{asig.form.title}"></th>
            </tr>
            </thead>

            <tr><td th:text="#{asig.cif}"></td><td><input type="text" th:field="*{cif}"></td></tr>
            <tr><td th:text="#{asig.nume}"></td><td><input type="text" th:field="*{nume}"></td></tr>
            <tr><td th:text="#{asig.tip}"></td><td><select  th:field="*{tip}">
                <option th:each="s : ${asig.tipList}" th:value="${s.value}" th:text="${s.text}"></option>
            </select></td></tr>

            <tr><td th:text="#{asig.juridic}"></td><td><select  th:field="*{juridic}">
                <option th:each="s : ${asig.juridicList}" th:value="${s.value}" th:text="${s.text}"></option>
            </select></td></tr>

            <tr><td th:text="#{asig.adresa}"></td><td><input type="text" th:field="*{adresa}"></td></tr>
            <tr><td th:text="#{asig.regCom}"></td><td><input type="text" th:field="*{regCom}"></td></tr>

            <tr><td th:text="#{asig.telefon}"></td><td><input type="text" th:field="*{telefon}"></td></tr>
            <tr><td th:text="#{asig.fax}"></td><td><input type="text" th:field="*{fax}"></td></tr>

            <tr>
                <td><input type="submit" value="Salveaza"/></td>
                <td><input type="reset" value="Reset"></td>
            </tr>
        </table>

    </form>


</section>

</html>