<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<section layout:fragment="navigation">
    <input type="button" th:onclick="window.location.href='/'" th:value="#{action.back}" />
    <input type="button" th:onclick="window.location.href='/auto'" th:value="#{action.add}" />
</section>

<section layout:fragment="content">

    <form  action="#" th:action="@{/auto/list}" th:object="${auto}" method="post" >

        <input type="hidden" th:field="*{id}">

        <table class="blueTable">
            <thead>
            <tr>
                <th colspan="2" th:text="#{auto.form.title}"></th>
            </tr>
            </thead>
            <tr><td th:text="#{auto.serieCiv}"></td><td><input type="text" th:field="*{serieCiv}"></td></tr>
            <tr>
                <td><input type="submit" value="Vizualizare"/></td>
                <td></td>
            </tr>
        </table>

    </form>


<table class="blueTable">
    <thead>
        <tr><th th:text="#{auto.list.title}" colspan="16"></th></tr>
    </thead>

    <tr>
        <th>.</th>
        <th th:text="#{auto.marca}"></th>
        <th th:text="#{auto.model}"></th>
        <th th:text="#{auto.categorieAuto}"></th>
        <th th:text="#{auto.tipAuto}"></th>
        <th th:text="#{auto.stareMatric}"></th>
        <th th:text="#{auto.nrMatric}"></th>
        <th th:text="#{auto.serieCiv}"></th>
        <th th:text="#{auto.serieSasiu}"></th>
        <th th:text="#{auto.putere}"></th>
        <th th:text="#{auto.cilindree}"></th>
        <th th:text="#{auto.masaMax}"></th>
        <th th:text="#{auto.nrLocuri}"></th>
        <th th:text="#{auto.anFabricatie}"></th>
        <th th:text="#{auto.combustibil}"></th>
        <th th:text="#{auto.utilizare}"></th>
    </tr>
    <tr th:each="row : ${auto.list}">
        <td><a th:href="@{|/auto/${row.id}|}" th:text="#{action.edit}"></a></td>
        <td th:text="${row.marca}" ></td>
        <td th:text="${row.model}" ></td>
        <td th:text="${row.categorieAuto}" ></td>
        <td th:text="${row.tipAuto}" ></td>
        <td th:text="${row.stareMatric}" ></td>
        <td th:text="${row.nrMatric}" ></td>
        <td th:text="${row.serieCiv}" ></td>
        <td th:text="${row.serieSasiu}" ></td>
        <td th:text="${row.putere}" ></td>
        <td th:text="${row.cilindree}" ></td>
        <td th:text="${row.masaMax}" ></td>
        <td th:text="${row.nrLocuri}" ></td>
        <td th:text="${row.anFabricatie}" ></td>
        <td th:text="${row.combustibil}" ></td>
        <td th:text="${row.utilizare}" ></td>
    </tr>

</table>

</section>

</html>