<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<section layout:fragment="navigation">
    <input type="button" th:onclick="window.location.href='/angajat/list'" th:value="#{action.back}" >
</section>


<section layout:fragment="content">

    <form  action="#" th:action="@{/password}" th:object="${password}" method="post" >

        <input type="hidden" th:field="*{id}">

        <table class="blueTable">
            <thead>
            <tr>
                <th colspan="2" th:text="#{password.form.title}"></th>
            </tr>
            </thead>

            <tr><td th:text="#{password.cnp}"></td><td><input type="text" th:readonly="true" th:field="*{cnp}"></td></tr>
            <tr><td th:text="#{password.cod}"></td><td><input type="text" th:readonly="true" th:field="*{cod}"></td></tr>
            <tr><td th:text="#{password.nume}"></td><td><input type="text" th:readonly="true" th:field="*{nume}"></td></tr>
            <tr><td th:text="#{password.prenume}"></td><td><input type="text" th:readonly="true" th:field="*{prenume}"></td></tr>
            <tr><td th:text="#{password.societate}"></td><td><select  th:readonly="true" th:field="*{societate}">
                <option th:each="s : ${password.societateList}" th:value="${s.value}" th:text="${s.text}"></option>
            </select></td></tr>

            <tr><td th:text="#{password.password}"></td><td><input type="text" th:field="*{password}"></td></tr>

            <tr>
                <td><input type="submit"  th:value="#{action.save}" /></td>
                <td><input type="reset"  th:value="#{action.reset}" /></td>
            </tr>
        </table>

    </form>


</section>

</html>