<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<section layout:fragment="navigation">
    <input type="button" th:onclick="window.location.href='/unitate/list'" th:value="#{action.back}" >
</section>


<section layout:fragment="content">

    <form  action="#" th:action="@{/unitate}" th:object="${unitate}" method="post" >

        <input type="hidden" th:field="*{id}">

        <table class="blueTable">
            <thead>
            <tr>
                <th colspan="2" th:text="#{unitate.form.title}"></th>
            </tr>
            </thead>

            <tr><td th:text="#{unitate.name}"></td><td><input type="text" th:field="*{name}"></td></tr>
            <tr><td th:text="#{unitate.adresa}"></td><td><input type="text" th:field="*{adresa}"></td></tr>

            <tr><td th:text="#{unitate.societate}"></td><td><select  th:field="*{societate}">
                <option th:each="s : ${unitate.societateList}" th:value="${s.value}" th:text="${s.text}"></option>
            </select></td></tr>


            <tr><td th:text="#{unitate.telefon}"></td><td><input type="text" th:field="*{telefon}"></td></tr>
            <tr><td th:text="#{unitate.fax}"></td><td><input type="text" th:field="*{fax}"></td></tr>

            <tr>
                <td><input type="submit" value="Salveaza"/></td>
                <td><input type="reset" value="Reset"></td>
            </tr>
        </table>

    </form>


</section>

</html>